<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/Fish 01 - Fish Tacos.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Scrap Vault</strong></h1>
                        <p class="m-b-40"> <br> From Scraps to Riches – Sell your unwanted items on
                            Scrap Vault and let the recycling revolution begin</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/Crab 02 - Crab Toast.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Scrap Vault</strong></h1>
                        <p class="m-b-40"><br>Scrap Smarter, Not Harder – Your go-to destination for
                            selling scrap intelligently</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/Shrimp 01 - Shrimp Monterey.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 class="m-b-20"><strong>Welcome To <br> Scrap Vault</strong></h1>
                        <p class="m-b-40"><br> Your Trash, Our Treasure – Join Scrap Vault and turn
                            your scrap into cash, the eco-friendly way.</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/logo.png" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span>Scrap Vault</span></h2>
                <p>a digital marketplace dedicated to the buying and selling of scrap materials. With the growing
                    awareness of the environmental impacts of resource extraction and waste generation, the demand for
                    efficient and transparent scrap trading platforms has never been greater. Our aim is to address this
                    demand by leveraging the capabilities of modern technology to create a user-friendly, secure, and
                    sustainable online platform.
                </p>
                <p>The primary goal of Scrap Vault is to provide a reliable online space where individuals, businesses,
                    and industries can efficiently trade scrap materials, thereby contributing to the reduction of waste
                    and conservation of resources..
                </p>
                <p>We want to take things we usually throw away, like old stuff, and turn them into something useful.
                    Our goal is a future where we waste less, use more, and always think about the environment..
                </p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>Scrap Smarter, Not Harder – Your go-to destination for selling scrap intelligently, Scrap Vault.
                        Trusted by our users, we ensure a seamless and secure experience for turning your scrap into
                        valuable resources...
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p>One Person's Scrap, Another's Opportunity – Embrace the circular economy with Scrap Vault, where
                        every piece matters. Our professional platform ensures efficiency and reliability in every scrap
                        transaction...
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    <p>Green Cash for Green Acts – At Scrap Vault, we believe in sustainability and reward you for your
                        eco-friendly choices. Join our community of experts dedicated to making a positive environmental
                        impact...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>